.App {
  text-align: center;
}

.homecontent{
  margin: 0px;
  padding: 0px;
  text-align: center;
  position:absolute;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
}

  .bg-img {
    background-image: url('https://imgs.search.brave.com/cvn2FRrkY5nY1MqAhD7eX5oHdSVwYbkWR6k7foHcDIQ/rs:fit:1200:951:1/g:ce/aHR0cHM6Ly9jOC5h/bGFteS5jb20vY29t/cC9QRjNQMjcvZGVz/a3RvcC1zb3VyY2Ut/Y29kZS1hbmQtdGVj/aG5vbG9neS1iYWNr/Z3JvdW5kLWRldmVs/b3Blci1vci1wcm9n/cmFtZXItd2l0aC1j/b2RpbmctYW5kLXBy/b2dyYW1taW5nLXdh/bGxwYXBlci1ieS1j/b21wdXRlci1sYW5n/dWFnZS1hbmQtc291/cmNlLWNvZGUtY29t/LVBGM1AyNy5qcGc');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }
  .profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
    margin: 50px;
  }
  
  .profile-cardimg {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  
  
  
  
